* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.background {
    background-image: url(../Img/26669.jpg);
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.container .logo {
    padding-top: 15px;
    width: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: relative;
    height: 83px;
    width: 100%;
}

nav {
    height: 83px;
    width: 100%;
    padding: 20px 0;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 0 25px;
    font-weight: 500;
}

.navbar ul li:last-child {
    margin-right: 0%;
}

.navbar ul li a {
    font-size: 14px;
    color: #222;
    font-weight: normal;
    transition: all 0.3s;
}

.navbar ul li a:hover {
    color: red;
}

.navbar ul li a.btn {
    display: inline-block;
    padding: 10px 28px;
    border-radius: 5px;     
    font-weight: normal;
    font-weight: 600;
    color: white;
    background-color: black;
}

.navbar ul li a.btn:hover {
    background-color: red;
    color: white;
}

.home {
    position: relative;
    height: 100%;
}

.wrapper {
    height: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
}

.home .text {
   width: 100%;
   margin-bottom: 150px;
}

.text h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: black;
    transition: 0.5s;
}

.red:hover {
    color: red;
}

.text ul {
    list-style: none;
    display: inline-flex;
}

.btn .btn-start {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    background-color: red;
    box-shadow: 0px 4px 15px rgba(0, 200, 148, 0.15);
    border-radius: 20px;  
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;

}